<header>
  <nav class="nav-bar">
    <a class="nav-logo" href="/">BuyBuySell</a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup"></div>
    <li><a class="nav-item nav-link" href="/messages">My Inbox</a></li>
    <li><a class="nav-item nav-link" href="/favourites">Favourites</a></li>
    <li><a class="nav-item nav-link" href="/myads">My Ads</a></li>
    <li><a class="nav-item nav-link" href="/sales">My Sales</a></li>

    <a href="/login">
      <button class="login-button">
        <span class="button--inner">Login</span>
      </button>
    </a>
    <!-- <a href="/logout">
      <button class="login-button">
        <span class="button--inner">Logout</span>
      </button>
    </a> -->

    <form action="/logout" method="POST">
      <button class="login-button" type="submit">
        <span class="button--inner">Logout</span>
      </button>
    </form>
  </nav>
</header>
