<header>
  <nav class="nav-bar">
    <a class="nav-logo" href="/">BuyBuySell</a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup"></div>
    <li><a class="nav-item nav-link" href="/messages">Messages</a></li>
    <li><a class="nav-item nav-link" href="/favourites">Favourites</a></li>
    <li><a class="nav-item nav-link" href="/myads">My Ads</a></li>
    <li><a class="nav-item nav-link" href="/sales">My Sales</a></li>
    <form method="GET" action="/createad">
      <a
        href="http://localhost:8080/createad"
        class="button"
        style="padding-right: 23px"
        ><button id="post-ad-nav">Post Ad</button></a
      >
    </form>
    <container id="nav-bar">
      <section class="nav-icons">
        <%if (!current_user_id) { %>
        <a href="/api/users/login">
          <button class="login-button">
            <span class="button--inner">Login</span>
          </button>
        </a>
        <% }else{ %>
        <form action="/api/users/logout" method="POST">
          <button class="login-button" type="submit">
            <span class="button--inner">Logout</span>
          </button>
          <!-- <p>Logged In As: <%= current_user_id %></p> -->
        </form>
        <%}%>
      </section>
    </container>
  </nav>
</header>

<!-- <div id="filter-form">
  <form method="GET" action="/search">
    <input typer="text" name="itemName" id="nav-input" placeholder="search"></input>
    <select id="categories-dropdown" placeholder="catgories" name="categories">
      <option value="" disabled selected>Categories</option>
      <option value = "1">Bikes</option>
      <option value = "2">Clothes</option>
      <option value = "3">Appliances</option>
      <option value = "4">Battery</option>
      <option value = "5">Skateboards</option>
      <option value = "6">Plants</option>
      <option value = "7">Electronics</option>
      <option value = "8">Toys</option>
      <option value = "9">Misc</option>
      <option value = "10">Tools</option>
    </select>
    <input type="hidden" name="minPrice" value=0>
    <input type="hidden" name="maxPrice" value=2500000>
    <button type="search" value="Search" class="btn btn-outline-dark">Search</button>
  </form>
</div> -->
