<header>
  <nav class="nav-bar">
      <h2 class="nav-logo">
        <span>Buy</span>BuySell
      </h2>
    <li><a class="nav-item nav-link" href="/messages">Messages</a></li>
    <li><a class="nav-item nav-link" href="/favourites">Favourites</a></li>
    <li><a class="nav-item nav-link" href="/myads">My Activity</a></li>
    <a href="/login">
      <button class="login-button">
        <span class="button--inner">Login</span>
      </button>
    </a>
    <div class="nav">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
    </div>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup"></div>
    <div>
  </nav>
</header>
