<header>
  <nav class="nav-bar">
    <a class="nav-logo" href="/">BuyBuySell</a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup"></div>
    <li>
      <a class="buttons" href="/messages">messages</a>
    </li>
    <li>
      <a class="buttons" href="/favourites">favourites</a>
    </li>
    <li><a class="buttons" href="/myads">my ads</a></li>
    <form method="GET" action="/createad">
      <a href="http://localhost:8080/createad"
        ><button class="buttons">post ad</button></a
      >
    </form>
    <container id="nav-bar">
      <section class="nav-icons">
        <%if (!current_user_id) { %>
        <a href="/api/users/login">
          <button class="buttons">
            <span>login</span>
          </button>
        </a>
        <% }else{ %>
        <p>Logged In As: <%= current_username %></p>
        <form action="/api/users/logout" method="POST">
          <button class="buttons" type="submit">
            <span>logout</span>
          </button>
          <!-- <p>Logged In As: <%= current_user_id %></p> -->
        </form>
        <%}%>
      </section>
    </container>
  </nav>
</header>
