<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="nav logo" href="/">BuyBuySell</a>

    <a>BUYBUYSELL</a>
    <div>
      <div>
        <a href="/messages:id">Messages Icon |</a>
        <a href="/favourites">Favourites Icon |</a>
        <a href="/login">Sign In |</a>
        <a href="/sales/post">POST</a>
      </div>
    </div>
  </nav>
</header>
