<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta
      name="viewport"
      content="wclassth=device-wclassth, initial-scale=1.0"
    />
    <!-- fonts should go below -->
    <!-- css -->
    <!-- external js -->
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/_headers.ejs') %>
    <h1>MAIN PAGE</h1>
    <ul class = featuredItems>
      <div></div>

    </ul>
  </body>
</html>
