<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>

<body>
  <%- include('partials/_headers.ejs') %>
  <p>USER LOGIN</p>

  <a href = "/login/1">User 1 log in </a>
  <a href = "/login/2">User 2 log in </a>
  <a href = "/login/3">User 3 log in </a>

  </body>
</html>
