<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>

<body style="margin: 1em;">
  <h3>Login</h3>
    <form class="form-inline" action="/api/users/login" method="POST">
      <div class="form-group mb-2">

        <label for="username">Enter Username:</label>
        <input class="form-control" type="text" name="username" placeholder="Harold" style="width: 300px; margin: 1em"></input>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  <!-- <a id= "user1" href = "/login/1">User 1 log in </a>

  <a id = "user2" href = "/login/2">User 2 log in </a>
  <a id = "user3" href = "/login/3">User 3 log in </a> -->

  </body>
</html>
