<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>

<body>
  <p>USER LOGIN</p>
  <form action="/login" method="POST">
    <input type="text" name="username"></input>
    <button type="submit">Submit</button>
  </form>
  <!-- <a id= "user1" href = "/login/1">User 1 log in </a>

  <a id = "user2" href = "/login/2">User 2 log in </a>
  <a id = "user3" href = "/login/3">User 3 log in </a> -->

  </body>
</html>
