.body {
  margin-top: 15%;
}

<!-- <div class="Messages-box">

class sales-out-box has white outter background box
<article
  class="sales-out-box"
  style="display: flex; flex-direction: row"
> -->
  <!-- for the user image -->
  <!-- <div
    style="
      height: 100px;
      width: 100px;
      background-color: blue;
      margin-top: 10px;
    "
  ></div> -->
