.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background: #e9c46a;
  top: 0;
  height: 100px;
  width: 100%;
  padding: 2rem 1rem;
}

.nav-logo {
  font-size: 40px;
  font-family: "DotGothic16";
  display: flex;
  color: rgb(40, 40, 40);
}

.nav-bar li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.buttons {
  font-family: "DotGothic16";
  font-size: 1.2em;
  color: #2a9d8f;
  display: flex;
  text-decoration: none;
  background-color: #dcdbdb;
  border-radius: 10px;
  border-style: solid;
  padding: 5px;
}
.buttons:hover {
  color: #f28482;
}
/* buttons:focus {
  outline: 0;
} */

a:hover {
  color: #f28482;
}
a {
  text-decoration: none !important;
}

.price .buttons {
  text-decoration: none;
}

.post-ad-button {
  background-color: #efefef;
  text-decoration: none;
  color: white;
  padding: 8px 20px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.login-button:hover {
  border: solid rgb(158, 168, 191) 4px;
}
