.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background: rgb(242, 242, 242);
  top: 0;
  height: 100px;
  width: 100%;
  padding: 2rem 1rem;
}

.nav-logo {
  font-size: 40px;
  font-family: "DotGothic16";
  display: flex;
}

.nav-bar li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.login-button {
  background-color: cornflowerblue;
  color: white;
  padding: 8px 20px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.post-ad-button {
  background-color: #efefef;
  color: white;
  padding: 8px 20px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.login-button:hover {
  border: solid rgb(158, 168, 191) 4px;
}
