.nav-bar {
  position: fixed;
  background: rgb(242, 242, 242);
  --main-bg-color: white;
  --first-color: #e8e8e8;
  --second-color: #333;
  top: 0;
  height: 100px;
  width: 100%;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-logo {
  font-size: 40px;
  display: flex;
}

.nav-bar li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.login-button {
  background-color: cornflowerblue;
  color: white;
  padding: 8px 20px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.post-ad-button {
  background-color: #efefef;
  color: white;
  padding: 8px 20px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.login-button:hover {
  border: solid rgb(158, 168, 191) 4px;
}
